*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

ol, ul {
    list-style: none;
}

img, picture, video, svg, canvas {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    &:active {
        color: $color-secondary;
    }
}