@import "utils/variables";
@import "modules/reset";
@import "classes/custom";
@import "classes/display";
@import "classes/form";
@import "classes/typography";
@import "classes/spacing";

body {
  font-family: $default-font;
  font-weight: $fw-regular;
  font-size: $fs-regular;
}

@import "modules/navbar.scss";

.brand {
  font-weight: $fw-bold;
  padding-inline: .25rem;
}

.main {
  color: $color-secondary;
  & .brand {
    font-size: 4.8rem;
    margin-bottom: 6rem;
  }
  &__title {
    color: $color-primary;
    margin-bottom: 3rem;
  }
  &__description {
    line-height: 1.5;
    margin-bottom: 6rem;
    padding: 1.4rem;
    border-radius: 0.4rem;
    border-width: 0 0.4rem;
    border-color: $color-primary;
    border-style: solid;
  }
}

.question {
  font-size: $fs-regular * 0.8;
  margin-bottom: 4rem;
  &__title {
    margin-bottom: 2rem;
  }
  &__list {
    padding: 0;
  }
  &__answer {
    border: 2px solid $color-primary;
    background-color: $color-light;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    transition: background-color $default-animation-duration ease;
    &:hover {
      color: $color-light;
      background-color: $color-secondary;
      border-color: $color-secondary;
      cursor: pointer;
      & span {
        color: $color-primary;
      }
    }
  }
}

@import "modules/footer.scss";