@import "reset";
@import "utils/variables";
@import "classes/typography";
@import "classes/base";
@import "classes/spacing";

body {
  font-family: $default-font;
  font-weight: $fw-regular;
  font-size: $fs-regular;
}

.container {
  width: 100%;
  max-width: 576px;
  margin-inline: auto;
  padding-inline: 3rem;
}

.brand {
  font-weight: $fw-bold;
  padding-inline: .25rem;
  &:hover {
    color: $color-secondary;
  }
}

.main {
  color: $color-secondary;
  min-height: 100vh;
  & .brand {
    font-size: 4.8rem;
    margin-bottom: 6rem;
  }
  &__title {
    color: $color-primary;
    margin-bottom: 3rem;
  }
  &__description {
    line-height: 1.5;
    margin-bottom: 6rem;
    padding: 1.4rem;
    border-radius: 0.4rem;
    border-width: 0 0.4rem;
    border-color: $color-primary;
    border-style: solid;
  }
}

.question {
  font-size: $fs-regular * 0.8;
  margin-bottom: 4rem;
  &__title {
    margin-bottom: 2rem;
  }
  &__list {
    padding: 0;
  }
  &__answer {
    border: 2px solid $color-primary;
    background-color: $color-light;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    transition: background-color $default-animation-duration ease;
    &:hover {
      color: $color-light;
      background-color: $color-secondary;
      border-color: $color-secondary;
      cursor: pointer;
      & span {
        color: $color-primary;
      }
    }
  }
}

.footer {
  margin-top: auto;
  & p {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }
  & small {
    font-size: 1.2rem;
  }
}
