@import "reset";

$default-font: "Sen", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-regular: 2rem;

$color-primary: #d500e8;
$color-secondary: #3a3a3a;
$color-tertiary: #4655ff;
$color-light: #fbfbfb;

$background-image: "../assets/images/pattern.jpg";

// utility classes

@for $value from 1 through 6 {
    h#{$value} {
        font-size: #{3-($value * 0.4)} + rem;
        margin-bottom: 1rem;
    }
}

.bg-image {
  background-color: $color-light;
  background-image: url($background-image);
}

.logo {
  fill: $color-primary;
  margin-bottom: 1rem;
}

.btn {
  background-color: transparent;
  margin: 2rem;
  padding: 1.4rem 3rem;
  border-radius: 0.5rem;
  border: 0.4rem solid $color-primary;
  font-weight: $fw-bold;
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    text-decoration: underline solid $color-primary 0.2rem;
  }
}

.text-center {
    text-align: center;
}

// homepage
body {
  font-family: $default-font;
  font-weight: $fw-regular;
  font-size: $fs-regular;
}

.main {
  color: $color-secondary;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  padding: 6rem 6rem 2rem;
  &__brand {
    font-size: 4.8rem;
    font-weight: $fw-bold;
    margin-bottom: 6rem;
  }
  &__title {
    color: $color-primary;
    margin-bottom: 3rem;
  }
  &__description {
    line-height: 1.5;
    margin-bottom: 6rem;
    padding: 1.4rem;
    border-radius: 0.4rem;
    border-width: 0 0.4rem;
    border-color: $color-primary;
    border-style: solid;
  }
}

.question {
    font-size: $fs-regular * 0.8;
    margin-bottom: 4rem;
}

.footer {
  margin-top: auto;
  & p {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }
  & small {
    font-size: 1.2rem;
  }
}
