<footer class="footer">
    <p>Designed and coded by <a class="link" href="https://www.github.com/alisariyer" target="_blank">alisariyer</a></p>
    <p><small>Since <time datetime="2023-04-25">April, 2023</time></small></p>
</footer>