<div class="menu-toggle d-none">
    <ul class="list-group fs-tiny">
        <li class="list-group-item"><a href="#">New quiz</a></li>
        <li class="list-group-item"><a href="#">Score table</a></li>
        <li class="list-group-item"><a href="#">Add question</a></li>
        <li class="list-group-item"><a href="#">Edit questions</a></li>
        <li class="list-group-item bg-primary-light fw-bold"><a href="#">Log out</a></li>
    </ul>
</div>