<header class="container d-flex">
    <navbar class="hidden navbar-scroll">
        <div class="container d-flex">
            <%- include('brand', { isSmall: true}) %>
        </div>
    </navbar>

    <%- include('brand', { isSmall: false }) %>
</header>