.list-group {
  display: flex;
  flex-direction: column;
  border-radius: $default-border-radius;
  &-item {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
    border: $default-border-width solid $color-primary;
  }
  &-item:hover {
    background-color: $color-primary-light;
  }
  &-item + .list-group-item {
    border-top-width: 0;
  }
  &-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  & .list-group-button {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.25rem 0.2rem;
    margin-left: 0.6rem;
    background-color: $color-primary;
    border-radius: $default-border-radius;
  }
  & .list-group-button:hover {
    box-shadow: 0 0 0 0.25rem $color-primary;
    cursor: pointer;
  }
  & .list-group-button:nth-child(3) {
    flex-basis: 3rem;
    margin-left: auto !important;
  }
  & .list-group-button:last-child {
    flex-basis: 3rem;
    background-color: $color-secondary;
  }
  & form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & button {
    background-color: $color-secondary;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}

.btn-menu {
  background-color: $color-primary;
  padding: 0.1rem;
  border-radius: $default-border-radius;
  border: 0.4rem solid $color-primary;
  color: $color-light;
  line-height: 1;
  transition: border-color $default-animation-duration ease-in-out, background-color $default-animation-duration ease-in-out;
  & svg {
    transition: transform $default-animation-duration ease-in-out;
  }
  &:hover {
    cursor: pointer;
    & svg {
      transform: rotate(0.5turn);
    }
  }
  &:active {
    border-color: $color-secondary;
    background-color: $color-secondary;
  }
}

.btn {
  background-color: transparent;
  padding: 1.4rem 3rem;
  border-radius: 0.5rem;
  border: 0.4rem solid $color-primary;
  font-weight: $fw-bold;
  color: $color-secondary;
  text-decoration: none;
  transition: color $default-animation-duration ease-in-out;
  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: $fs-smaller;
  font-weight: $fw-regular;
  line-height: 1.5;
  color: $color-secondary;
  background-color: $color-light;
  background-clip: padding-box;
  border: $default-border-width solid $color-primary;
  border-radius: $default-border-radius;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color $default-animation-duration ease-in-out,
    box-shadow $default-animation-duration ease-in-out;
  resize: vertical;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem $color-primary;
  }
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  &-text {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    color: $color-light;
    background-color: $color-primary;
    border: $default-border-width solid $color-primary;
    border-radius: $default-border-radius 0 0 $default-border-radius;
  }
  & > .form-control {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-radius: 0 $default-border-radius $default-border-radius 0;
  }
}

.form-select {
  font-size: $fs-regular;
  padding: 0.3rem 1rem;
  line-height: 1.5;
  color: $color-secondary;
  background-color: $color-light;
  border: $default-border-width solid $color-primary;
  border-radius: $default-border-radius;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color $default-animation-duration ease-in-out,
    box-shadow $default-animation-duration ease-in-out;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem $color-primary;
  }
}

.menu-toggle {
  display: inline-block;
  background-color: $color-light;
  position: fixed;
  top: 64px;
  right: 0;
  min-width: 14rem;
  transition: top 50ms linear, right 50ms linear;
  & .list-group-item {
    padding: .4rem 0.8rem;
    justify-content: flex-end;
    cursor: pointer;
  }
  & .list-group-item:hover a {
    color: $color-primary;
  }
  & a {
    color: inherit;
  }
}
