.list-group {
  display: flex;
  flex-direction: column;
  border-radius: $default-border-radius;
  &-item {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
    border: $default-border-width solid $color-primary;
  }
  &-item:hover {
    background-color: $color-primary-light;
  }
  &-item + .list-group-item {
    border-top-width: 0;
  }
  &-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  & .list-group-button {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.25rem 0.2rem;
    margin-left: 0.6rem;
    background-color: $color-primary;
    border-radius: $default-border-radius;
  }
  & .list-group-button:hover {
    box-shadow: 0 0 0 0.25rem $color-primary;
    cursor: pointer;
  }
  & .list-group-button:nth-child(3) {
    flex-basis: 3rem;
    margin-left: auto !important;
  }
  & .list-group-button:last-child {
    flex-basis: 3rem;
    background-color: $color-secondary;
  }
  & form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & button {
    background-color: $color-secondary;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}

.btn-menu {
  background-color: $color-primary;
  padding: 0.1rem;
  border-radius: $default-border-radius;
  border: 0.4rem solid $color-primary;
  color: $color-light;
  line-height: 1;
  transition: border-color $default-animation-duration ease-in-out,
    background-color $default-animation-duration ease-in-out;
  & svg {
    transition: transform $default-animation-duration ease-in-out;
  }
  &:hover {
    cursor: pointer;
    & svg {
      transform: rotate(0.5turn);
    }
  }
  &:active {
    border-color: $color-secondary;
    background-color: $color-secondary;
  }
}

.btn {
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0.4rem solid $color-primary-soft;
  font-size: $fs-medium;
  font-weight: $fw-bold;
  color: $color-secondary;
  text-decoration: none;
  transition: color $default-animation-duration ease-in-out;
  &-lg {
    border: 0.4rem solid $color-primary;
    padding: 1.4rem 3rem;
    font-size: $fs-regular;
  }
  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
  &-primary {
    background-color: $color-primary;
    border: 0.4rem solid $color-primary;
    color: $color-light;
    &:hover {
      color: $color-secondary;
    }
  }
}

.form {
  background-color: white;
  border: 1rem solid $color-primary-light;
  border-radius: $default-border-radius;
}

.form-text {
  font-size: $fs-small;
  display: block;
  margin-block: 0.25rem;
  color: $color-secondary;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: $fs-medium;
  font-weight: $fw-regular;
  line-height: 1.5;
  color: $color-secondary;
  background-color: $color-light;
  background-clip: padding-box;
  border: $default-border-width solid $color-primary;
  border-radius: $default-border-radius;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color $default-animation-duration ease-in-out,
    box-shadow $default-animation-duration ease-in-out;
  resize: vertical;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem $color-primary;
  }
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  &-text {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    color: $color-light;
    background-color: $color-primary;
    border: $default-border-width solid $color-primary;
    border-radius: $default-border-radius 0 0 $default-border-radius;
  }
  & > .form-control {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-radius: 0 $default-border-radius $default-border-radius 0;
  }
}

.form-select {
  font-size: $fs-regular;
  padding: 0.3rem 1rem;
  line-height: 1.5;
  color: $color-secondary;
  background-color: $color-light;
  border: $default-border-width solid $color-primary;
  border-radius: $default-border-radius;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color $default-animation-duration ease-in-out,
    box-shadow $default-animation-duration ease-in-out;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem $color-primary;
  }
}

.menu-toggle {
  display: inline-block;
  background-color: $color-light;
  position: fixed;
  top: 64px;
  right: 0;
  min-width: 14rem;
  transition: top 50ms linear, right 50ms linear;
  & .list-group-item {
    padding: 0.4rem 0.8rem;
    justify-content: flex-end;
    cursor: pointer;
  }
  & .list-group-item:hover a {
    color: $color-primary;
  }
  & a {
    color: inherit;
  }
}

.popup {
  position: fixed;
  z-index: 100;
  bottom: 10rem;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  animation: popup $long-animation-duration ease-in-out paused;
  & p {
    display: inline-block;
    background-color: $color-primary;
    color: $color-light;
    padding: 1rem;
    border-radius: $default-border-radius;
  }
}

.animation-running {
  animation-play-state: running;
}

@keyframes popup {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 100%;
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $color-secondary;
  vertical-align: top;
  text-align: center;
  border-collapse: collapse;
  background-color: $color-light;
  border: 5px solid $color-primary-light;
  border-radius: $default-border-radius;
  & tbody {
    vertical-align: inherit;
  }
  & thead {
    vertical-align: inherit;
    background-color: $color-primary-light;
  }
  & th,
  & td {
    border: 1px solid $color-primary-soft;
    padding: 5px;
  }
  &-striped > tbody > tr:nth-of-type(odd) {
    color: $color-primary;
  }
}

.modal {
  position: fixed;
  z-index: 500;
  right: 0;
  bottom: 0;
  min-width: 32rem;
  min-height: 16rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border: $default-border-width solid $color-light;
  border-radius: $default-border-radius;
  background-color: $color-light;
  box-shadow: 0 0 1rem 0.1rem $color-secondary-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
