.container {
  width: 100%;
  max-width: 576px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.bg-image {
  // background-color: $color-light;
  background: center / cover no-repeat url($bg-mobile-image);
  @media screen and (min-width: 576px) {
    background: center / cover no-repeat url($bg-desktop-image);
  }
}

.logo {
  fill: $color-primary;
  margin-block: 1rem;
  &:hover circle {
    animation-play-state: paused;
  }
  & circle {
    fill: $color-light;
    animation-name: signal;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  & circle:first-of-type {
    animation-delay: 1s;
  }
}

@keyframes signal {
  0% {
    fill: $color-light;
  }
  50% {
    fill: $color-primary;
  }
}

.fill-primary {
  fill: $color-primary;
}

.fill-light {
  fill: $color-light;
}

.bg-light {
  background-color: $color-light !important;
}

.bg-primary {
  background-color: $color-primary !important;
}

.bg-primary-light {
  background-color: $color-primary-light !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
}

.link {
  text-decoration: underline solid transparent 0.2rem;
  color: $color-primary;
  transition: text-decoration-color $default-animation-duration ease-in-out;
  &:hover {
    text-decoration-color: $color-primary;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-light {
  color: $color-light !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.text-primary {
  color: $color-primary;
}

.min-vh-100 {
  min-height: 100vh;
}

.min-vh-100-within {
  min-height: calc(100vh - 68px);
}

.w-100 {
  width: 100%;
}

.correct {
  color: $color-success !important;
  border: .5rem solid $color-success !important;
}

.incorrect {
  color: $color-danger !important;
  border: .5rem solid $color-danger !important;
}