.container {
  width: 100%;
  max-width: 576px;
  margin-inline: auto;
  padding-inline: 3rem;
}

.bg-image {
  background-color: $color-light;
  background-image: url($background-image);
}

.logo {
  fill: $color-primary;
  margin-block: 1rem;
  &:hover circle {
    animation-play-state: paused;
  }
  & circle {
    fill: $color-light;
    animation-name: signal;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  & circle:first-of-type {
    animation-delay: 1s;
  }
}

@keyframes signal {
  0% {
    fill: $color-light;
  }
  50% {
    fill: $color-primary;
  }
}

.fill-primary {
  fill: $color-primary;
}

.fill-light {
  fill: $color-light;
}

.bg-light {
  background-color: $color-light;
}

.link {
  text-decoration: underline solid transparent 0.2rem;
  color: $color-primary;
  transition: text-decoration-color $default-animation-duration ease-in-out;
  &:hover {
    text-decoration-color: $color-primary;
  }
}

.text-center {
  text-align: center;
}

.min-vh-100 {
  min-height: 100vh;
}

.min-vh-100-within {
  min-height: calc(100vh - 68px);
}

.w-100 {
  width: 100%;
}