$default-font: "Sen", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-regular: 2rem;
$fs-medium: 1.72rem;
$fs-small: 1.6rem;
$fs-tiny: 1.4rem;

// $color-primary: #d500e8;
$color-primary: #7883ff;
$color-primary-light: #b4b5ff;
// $color-primary-light: #fbfcff;
$color-secondary: #3a3a3a;
$color-secondary-hard: #2f2e2e;
$color-secondary-light: #3a3a3a3a;
$color-transparent-black: #000000cc;
$color-grayish: #484848;
$color-light: #dcdcdc;
// $color-primary-soft: #f0b5ff;
$color-primary-soft: #96d0ff;
$color-success: #C8FE5C;
$color-danger: #EA0059;

$bg-mobile-image: "../assets/images/bg-mobile.png";
$bg-desktop-image: "../assets/images/bg-desktop.png";

$default-animation-duration: 0.2s;
$long-animation-duration: 1s;

$default-border-width: 0.2rem;
$default-border-radius: 0.4rem;
