$default-font: "Sen", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-regular: 2rem;

$color-primary: #d500e8;
$color-secondary: #3a3a3a;
$color-tertiary: #4655ff;
$color-light: #fbfbfb;

$background-image: "../assets/images/pattern.jpg";

$default-animation-duration: 0.2s;