$default-font: "Sen", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-regular: 2rem;
$fs-medium: 1.72rem;
$fs-small: 1.6rem;
$fs-tiny: 1.4rem;

$color-primary: #d500e8;
// $color-primary: #4655ff;
$color-primary-light: #fef5ff;
// $color-primary-light: #fbfcff;
$color-secondary: #3a3a3a;
$color-secondary-light: #3a3a3a3a;
$color-light: #fbfbfb;
$color-primary-soft: #f0b5ff;
$color-success: #55d300;
$color-danger: #ff0040;

$background-image: "../assets/images/pattern.jpg";

$default-animation-duration: 0.2s;
$long-animation-duration: 1s;

$default-border-width: 0.2rem;
$default-border-radius: 0.4rem;
