<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Quizer Homepage'}) %>
</head>
<body>
    <h1>Welcome to Quizer Page</h1>
    <p>Test yourself with lots of frontend questions...</p>
</body>
</html>