<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Questions' }) %>
</head>

<body class="bg-image">
    <%- include('partials/navbar') %>
    <main class="container main min-vh-100-within d-flex d-flex-col justify-content-center ">

        <!-- Main content goes here -->
        
        
        <%- include('partials/footer') %>
    </main>
</body>

</html>