<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Login' }) %>
</head>

<body class="bg-image">
    <%- include('partials/header', { isQuiz: false }) %>
        <main class="container main min-vh-100-within d-flex d-flex-col justify-content-center ">

            <!-- Main content goes here -->
            <form action="/login?_method=POST" method="POST" class="my-2 py-8">

                <div class="mb-4">
                    <label for="email" class="form-text">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="emailaddress@domain.com"
                        required>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-text">Password</label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="$s8*-3dh;?3pdfn."
                        required>
                </div>

                <div class="d-flex justify-content-end my-8">
                    <a href="/" class="btn d-block">Home</a>
                    <button type="reset" class="btn d-block ms-2">Clear</button>
                    <button type="submit" class="btn btn-primary d-block ms-2">Login</button>
                </div>
            </form>
            <%- include('partials/footer') %>
        </main>
</body>

</html>