<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'New Question' }) %>
    <script src="/js/scroll.js" defer></script>
</head>

<body class="bg-image">
    <%- include('partials/navbar') %>
    <main class="container main d-flex d-flex-col justify-content-center ">

        <!-- Main content goes here -->
        
        
        <%- include('partials/footer') %>
    </main>
</body>

</html>