<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Question List' }) %>
</head>

<body class="bg-image">
    <%- include('partials/header', { isQuiz: false, isLoggedIn }) %>
    <main class="container main min-vh-100-within d-flex d-flex-col justify-content-center ">
        <h1 class="main__title text-center mt-2">Score Table</h1>


        <%- include('partials/footer') %>
    </main>
</body>

</html>